https://chrona-backend.com {
    tls chrona-backend.com.pem chrona-backend.com-key.pem

reverse_proxy http://127.0.0.1:8008 {
    header_up Host              {host}
    header_up X-Forwarded-For   {remote_host}
    header_up X-Forwarded-Proto {scheme}
  }
}
