{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Countdown Timer App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Countdown Timer">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="{% static '/styles/style.css' %}" rel="stylesheet">
      <link rel="icon" type="image/svg+xml" href="{% static 'imgs/clock-circle-svgrepo-com.svg' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script src="{% static 'js/timer.js' %}" defer></script>
  </head>
  <body>
    <div class="t-container">
      <h1>Countdown Timer</h1>
      <div class="timer-face">
        <div class="timer-display">
          {% for key, value in time_maps.items %}
          <div class="flap">
            <div class="label">
              <button
                type="button"
                id="{{ key|lower }}PlusBtn"
                class="btn-icon"
                onclick="adjustTime('{{ key|lower }}-display', 1)"
                aria-label="Increase {{ key }}"
              >
                <img src="{% static 'imgs/plus-svgrepo-com.svg' %}" alt="Plus icon" />
              </button>
              <span class="label-text">{{ key }}</span>
              <button
                type="button"
                id="{{ key|lower }}MinusBtn"
                class="btn-icon"
                onclick="adjustTime('{{ key|lower }}-display', -1)"
                aria-label="Decrease {{ key }}"
              >
                <img src="{% static 'imgs/minus-svgrepo-com.svg' %}" alt="Minus icon" />
              </button>
            </div>
            <span
              contenteditable="true"
              class="display"
              id="{{ key|lower }}-display"
            >{{ value }}</span>
          </div>
          {% if not forloop.last %}
          <span class="colon">:</span>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="controls">
        <button id="control" class="ctrl-btn" onclick="toggleTimer()">Start</button>
        <button id="reset" class="ctrl-btn" onclick="resetTimer()">Reset</button>
      </div>
      <div class="time-up" id="time-up-wrap">
        {% if time_up %}
        Time Up!!!
        {% endif %}
      </div>
    </div>
    <div
      id="data-container"
      type="hidden"
      data-initial="{{ initial_duration }}"
      data-active="{{ active }}"
    ></div>
    {% csrf_token %}
  </body>
</html>
